

body {
    font-family: Arial, sans-serif;
}

h1 {
    background-color: #4d915f;
    color: white;
    padding: 15px;
    text-align: left;
}

ul, ol {
    padding-left: 18px;
}

li {
    margin-bottom: 9px;
}
